<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Student
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list lines="full">
    <form [formGroup]="updateStudentForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label color="primary"position="floating">Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary"  position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Mobile</ion-label>
        <ion-input formControlName="mobile" type="text" required>
        </ion-input>
      </ion-item>
         <ion-item>
        <ion-label color="primary" position="floating">Class</ion-label>
        <ion-input formControlName="class" type="text" required>
        </ion-input>
      </ion-item>
         <ion-item>
        <ion-label color="primary" position="floating">UID</ion-label>
        <ion-input formControlName="uid" type="text" required>
        </ion-input>
      </ion-item>
         <ion-item>
        <ion-label color="primary" position="floating">Course</ion-label>
        <ion-input formControlName="course" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">School Name :</ion-label>
        <ion-input formControlName="school" type="text" required>
        </ion-input>
      </ion-item>

       <ion-item>
        <ion-label color="primary" position="floating">Graduation :</ion-label>
        <ion-input formControlName="graduation" type="text" required>
        </ion-input>
      </ion-item>

       <ion-item>
        <ion-label color="primary"position="floating">Extra curicular :</ion-label>
        <ion-input formControlName="extra" type="text" required>
        </ion-input>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" shape="full" expand="block">Update Details</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-card>
</ion-content>
